$color-initial: #fff;
$color-primary: #e53a40;
$color-secondary: #606c76;
$color-tertiary: #f4f6f4;
$color-quaternary: #d1d1d1;
$color-quinary: #e1e1e1;

$color-green: #2ec4b6;
$color-error: #e53a40;
$message-bg-color: #3be58f;
$message-color: #042;

$information-overlay: '#cbextinformationoverlay';
$focus-overlay: '#cbextfocusoverlay';
$mouse-overlay: '#cbextmouseoverlay';
